a {
  text-decoration: none;
  color: #ff5151;
}

p {
  margin: 0;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.wrap {
  color: #5b5b5b;
  text-align: center;
  width: 100%;
  padding: 20px;
}
